figcaption {
    margin: auto;
    text-align: center;
    margin-top: 2px;
}

/* .maplibregl-canvas {
    border-radius: 1%;
    border: 1px solid;
    box-shadow: 1px 2px 4px #888888;
} */

div[id^="fig-"].quarto-figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 1%;
    border: 1px solid;
    box-shadow: 1px 2px 4px #888888;
}
